/examples/EtherSocketTest/*.sdf
*.suo
Debug-pc
*.sdf
*.opensdf
/examples/EtherSocketTest/Debug/*.log
*.user
/examples/ChatServer/Release
/examples/EchoServer/Release
/examples/EtherSocketTest/Release/EtherSoc.39FD1975.tlog/*.lastbuildstate
/examples/EtherSocketTest/Release/EtherSoc.39FD1975.tlog/*.tlog
/examples/EtherSocketTest/Release/*.log
/examples/EtherSocketTest/Release/EtherSoc.39FD1975.tlog/unsuccessfulbuild
/examples/EtherSocketTest/Release/*.pdb
Debug
